#!{{ lookPath "bash" }}

if command -v op.exe >/dev/null 2>&1; then
  # Install ssh keys
  echo "Installing SSH keys..."
  mkdir -p ~/.ssh

  keys=("id_ed25519")

  eval $(op.exe signin)

  for key in "${keys[@]}"; do
    key_data=$(op.exe item get "$key" --format json)
    private_key=$(echo "$key_data" | jq -r '.fields[] | select(.label=="private key") | .value')
    public_key=$(echo "$key_data" | jq -r '.fields[] | select(.label=="public key") | .value')

    echo -e "$private_key" > ~/.ssh/$key
    echo -e "$public_key" > ~/.ssh/$key.pub

    chmod 600 ~/.ssh/$key
    chmod 600 ~/.ssh/$key.pub

    # Add the key to the ssh-agent
    ssh-add ~/.ssh/$key
  done

else
  echo "op.exe not found. Skipping ssh key installation."
fi
