{{ template "fish.top" . }}

# Install nano syntax highlighting
if not test -e "$HOME/.nano"
    (set_color yellow)echo "Setting up nano syntax highlighting"(set_color normal)
    git clone https://github.com/scopatz/nanorc.git ~/.nano
else
    (set_color green)echo "$HOME/.nano already exists"(set_color normal)
end
