{{- if (eq .chezmoi.os "linux") -}}
{{ template "bash.top" . }}

eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)

packages=(
  fish
  starship 
  gh 
  thefuck 
  direnv 
  go-task/tap/go-task 
  zoxide 
  bat 
  lsd 
  viddy
  jq
  hidetatz/tap/kubecolor
  nano
  tldr
  chezmoi
  fisher
)

# Update homebrew packages

set_color yellow; echo "Initiating Homebrew update..."; set_color normal
brew update

set_color yellow; echo "Installing packages..."; set_color normal
for package in "${packages[@]}"
do
  brew install "$package"
done

{{ end -}}
