{{- if (eq .chezmoi.os "linux") -}}
{{ template "bash.top" . }}


# If Homebrew is not installed on the system, it will be installed here
if ! command -v brew &> /dev/null
then
  set_color yellow; echo "Installing homebrew..."; set_color normal
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> {{ .chezmoi.homeDir }}/.bashrc
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
  set_color yellow; echo "Homebrew is already installed."; set_color normal
fi

packages=(
  fish
  starship 
  gh 
  thefuck 
  direnv 
  go-task/tap/go-task 
  zoxide 
  bat 
  lsd 
  viddy
  jq
  hidetatz/tap/kubecolor
  nano
  tldr
  chezmoi
  fisher
)

# Update homebrew packages

set_color yellow; echo "Initiating Homebrew update..."; set_color normal
brew update

set_color yellow; echo "Installing packages..."; set_color normal
for package in "${packages[@]}"
do
  brew install "$package"
done

{{ end -}}
