{{- if (eq .chezmoi.os "linux") -}}
{{ lookPath "bash" }}

{{ if .debug }}
set -eufo pipefail
set -x  # Enable debugging
{{ end }}


# If Homebrew is not installed on the system, it will be installed here
if ! command -v brew &> /dev/null
then
  echo "Installing homebrew..."
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh | bash &> /dev/null
  (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> {{ .chezmoi.homeDir }}/.bashrc
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
  echo "Homebrew is already installed."
fi


{{ end -}}
