{{ template "fish.top" . }}

# Install nano syntax highlighting
if not test -e "$HOME/.nano"
    echo "Setting up nano syntax highlighting"
    git clone https://github.com/scopatz/nanorc.git ~/.nano
else
    echo "$HOME/.nano already exists"
end
