{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, Coder remote, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") (env "CODER") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- $name := "Stian Rossavik Sporaland" -}}
{{- $email := "stian.sporaland@pm.me" -}}
{{- $signingKey := "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEWyQ5lrpe2f0pOXdtWch1BDNbkccWVC6bUwr0htQPq0" -}}
{{- $onepasswordAccount := "RGFPP2NOSFHP3JQ4Y6RT67FQMY" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    signingKey = {{ $signingKey | quote }}
    onepasswordAccount = { $onepasswordAccount | quote }}        
    ephemeral = {{ $ephemeral }}    
    headless = {{ $headless }}
    personal = {{ $personal }}
    hostname = {{ .chezmoi.hostname | quote }}    
    osid = {{ $osID | quote }}    