{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -euo pipefail

packages=(
  starship 
  gh 
  thefuck 
  direnv 
  go-task/tap/go-task 
  zoxide 
  bat 
  lsd 
  viddy
  jq
)

# If Homebrew is not installed on the system, it will be installed here
if ! command -v brew &> /dev/null
then
  echo "Installing homebrew..."
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh | bash &> /dev/null
  (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> {{ .chezmoi.homeDir }}/.profile
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
  echo "Homebrew is already installed."
fi

# Update homebrew packages
echo "Initiating Homebrew update..."
brew update

echo "Installing packages..."
for package in "${packages[@]}"
do
  brew install "$package"
done

{{ end -}}
