#!{{ lookPath "fish" }}

{{- if lookPath "op.exe" }}
# Install age key
echo "Installing AGE key..."

mkdir -p {{ .chezmoi.homeDir }}/.config/sops/age

set key "age key"

eval $(op.exe signin)

set key_data $(op.exe item get "$key" --format json)
set agekey $(echo $key_data | jq -r '.fields[] | select(.label=="key") | .value')

echo "$agekey" > {{ .chezmoi.homeDir }}/.config/sops/age/keys.txt

{{- else -}}
echo "op.exe not found. Skipping age key installation."
{{- end -}}
