{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -euo pipefail

packages=(
  starship 
  gh 
  thefuck 
  direnv 
  go-task/tap/go-task 
  zoxide 
  bat 
  lsd 
  viddy
  jq
)

# If Homebrew is not installed on the system, it will be installed here
if ! command -v brew &> /dev/null
then
  echo "Installing homebrew..."
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh | bash
else
  echo "Homebrew is already installed."
fi

# Update homebrew packages
echo "Initiating Homebrew update..."
brew update

# Check if the fish shell is installed
if ! command -v fish &> /dev/null
then
  echo "Installing fish shell..."
  brew install fish
  echo "/home/linuxbrew/.linuxbrew/bin/brew" | sudo tee -a /etc/shells
  chsh -s /home/linuxbrew/.linuxbrew/bin/brew
  fish
else
  echo "Fish shell is already installed."
fi

echo "Installing packages..."
for package in "${packages[@]}"
do
  brew install "$package"
done

# Install ssh key
echo "Installing SSH key..."
mkdir -p ~/.ssh

key="id_ed25519"

key_data=$(op.exe item get "$key" --format json)
private_key=$(echo $key_data | jq -r '.fields[] | select(.label=="private key") | .value')
public_key=$(echo $key_data | jq -r '.fields[] | select(.label=="public key") | .value')

echo -e "$private_key" > ~/.ssh/id_ed25519
echo -e "$public_key" > ~/.ssh/id_ed25519.pub

chmod 600 ~/.ssh/id_ed25519
chmod 600 ~/.ssh/id_ed25519.pub

{{ end -}}
