#!{{ lookPath "fish" }}

{{- if lookPath "op.exe" }}
# Install age key
echo "Installing AGE key..."

mkdir -p {{ .chezmoi.homeDir }}/.config/sops/age

set key "age key"

eval (op.exe signin)

set key_data (op.exe item get "$key" --format json | psub)
set agekey (jq -r '.fields[] | select(.label=="key") | .value' $key_data | psub)

cat $agekey > {{ .chezmoi.homeDir }}/.config/sops/age/keys.txt

{{- else -}}
echo "op.exe not found. Skipping age key installation."
{{- end -}}
