{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -euo pipefail

packages=(
  starship 
  gh 
  thefuck 
  direnv 
  go-task/tap/go-task 
  zoxide 
  bat 
  lsd 
  viddy
  jq
)

# If Homebrew is not installed on the system, it will be installed here
if ! command -v brew &> /dev/null
then
  echo "Installing homebrew..."
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh | bash &> /dev/null
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
  echo "Homebrew is already installed."
fi

# Update homebrew packages
echo "Initiating Homebrew update..."
brew update

# Check if the fish shell is installed
if ! command -v fish &> /dev/null
then
  echo "Installing fish shell..."
  brew install fish
  echo "/home/linuxbrew/.linuxbrew/bin/brew" | sudo tee -a /etc/shells
  chsh -s /home/linuxbrew/.linuxbrew/bin/brew
  fish
else
  echo "Fish shell is already installed."
fi

echo "Installing packages..."
for package in "${packages[@]}"
do
  brew install "$package"
done

{{ end -}}
