#!{{ lookPath "bash" }}

if command -v op.exe >/dev/null 2>&1; then
  # Install age key
  echo "Installing AGE key..."

  mkdir -p {{ .chezmoi.homeDir }}/.config/sops/age

  key="age key"

  eval $(op.exe signin)

  key_data=$(op.exe item get "$key" --format json)
  agekey=$(echo "$key_data" | jq -r '.fields[] | select(.label=="key") | .value')

  echo -n "$agekey" > {{ .chezmoi.homeDir }}/.config/sops/age/keys.txt
else
  echo "op.exe not found. Skipping age key installation."
fi
