LogLevel ERROR

Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
{{- if .personal }}
{{   User stianrs }}
{{- end }}

{{- if (eq .chezmoi.os "darwin") }}
  IgnoreUnknown UseKeychain
  UseKeychain yes
{{- end }}

{{- if .personal }}
{{ onepasswordRead "op://Personal/SSH Config/notesPlain" .onepasswordAccount }}
{{- end }}