{{ template "fish.top" . }}

# Install nano syntax highlighting
if not test -e "$HOME/.nano"
    print_info "Setting up nano syntax highlighting..."
    git clone https://github.com/scopatz/nanorc.git ~/.nano
else
    print_success "$HOME/.nano already exists."
end

