{{ template "fish.top" . }}

# .config/fish/fish_plugins hash: {{ include ( joinPath .chezmoi.sourceDir "private_dot_config/private_fish/fish_plugins.tmpl" ) | sha256sum }}

# Install and/or update fisher fish_plugins
print_info "Updating fish_plugins..."
if fisher update
    print_success "Fisher plugins have been updated successfully."
else
    print_error "Failed to update Fisher plugins."
end