{{ if and (eq .osid "linux-ubuntu") .personal -}}
{{ template "bash.top" . }}

# Check if 'op' command is not available
if ! command -v op &> /dev/null; then
    sudo -s \
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
    gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" |
    tee /etc/apt/sources.list.d/1password.list
    mkdir -p /etc/debsig/policies/AC2D62742012EA22/
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | \
    tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
    mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
    curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
    gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
    apt update && apt install 1password-cli

    # Check if 'op' command is available
    if ! command -v op &> /dev/null; then
        print_error "1Password CLI is not installed. Please install it first."
        exit 1
    else
        print_success "1Password CLI is installed."
        print_success "Authentiating with 1Password CLI..."
        eval $(op signin)
    fi
else
    echo "1Password CLI is already installed."
fi

{{ end -}}