{{ if and (eq .osid "linux-ubuntu") .personal -}}
{{ template "bash.top" . }}

# Check if 'op' command is not available
if ! command -v op &> /dev/null; then
    ARCH="amd64"
    OP_VERSION="v$(curl https://app-updates.agilebits.com/check/1/0/CLI2/en/2.0.0/N -s | grep -Eo '[0-9]+\.[0-9]+\.[0.9]+')"

    # Check if 'brew' is not available
    if ! command -v brew &> /dev/null; then
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    fi

    # Check if 'unzip' is not available
    if ! command -v unzip &> /dev/null; then
        print_error "Error: 'unzip' command not found. Please install 'unzip' before proceeding."
        exit 1
    fi

    # Set the installation directory to a user-writable location
    INSTALL_DIR="$HOME/.local/bin"

    # Create the installation directory if it doesn't exist
    mkdir -p "$INSTALL_DIR"

    # Download and install 1Password CLI
    curl -sSfo "$INSTALL_DIR/op.zip" \
        https://cache.agilebits.com/dist/1P/op2/pkg/"$OP_VERSION"/op_linux_"$ARCH"_"$OP_VERSION".zip \
        && unzip -oq -d "$INSTALL_DIR" "$INSTALL_DIR/op.zip" \
        && rm "$INSTALL_DIR/op.zip"

    # Check if the installation was successful
    if [ $? -eq 0 ]; then
        print_success "1Password CLI installed to $INSTALL_DIR."
    else
        print_error "Failed to install 1Password CLI."
        exit 1
    fi
else
    print_success "1Password CLI is already installed."
fi

# Check if op config file exists and create it if it doesn't. Check if the operation was successful.
if [ ! -f "$HOME/.config/op/op.key" ]; then
    # Check if op directory exists
    if [ ! -d "$HOME/.config/op" ]; then
        mkdir -p "$HOME/.config/op"
    fi

    echo "{{ joinPath .chezmoi.sourceDir "/.keys/op.key.age" | include | decrypt }}" > "$HOME/.config/op/op.key"
    if [ $? -eq 0 ]; then
        print_success "1Password CLI key file created."
        
        # Export the contents of the key file to the environment variable OP_SERVICE_ACCOUNT_TOKEN
        export OP_SERVICE_ACCOUNT_TOKEN=$(cat "$HOME/.config/op/op.key")
    else
        print_error "Failed to create 1Password CLI key file."
        exit 1
    fi
    
    # Set proper permissions for the key file
    chmod 600 "$HOME/.config/op/op.key"

else
    print_success "1Password CLI key file already exists."
fi

{{ end -}}