{{- if (eq .chezmoi.os "linux") -}}
{{ template "bash.top" . }}

# Check if the system supports APT package manager
if command -v apt-get &> /dev/null; then
    print_info "System supports the APT package manager."
else
    print_error "This system does not use the APT package manager."
    exit 1
fi

# Check if build-essential is installed
if dpkg -l | grep -q 'build-essential'; then
    print_success "Build-essential is already installed."
else
    print_info "Installing build-essential..."
    sudo apt-get update > /dev/null
    sudo apt-get -y install build-essential > /dev/null;

    if [ $? -eq 0 ]; then
        print_success "Build-essential has been successfully installed."
    else
        print_error "Failed to install build-essential."
        exit 1
    fi
fi

{{ end -}}