{{ if and (eq .osid "linux-ubuntu") .personal -}}
{{ template "fish.top" . }}

print_info "Logging in to atuin..."
if atuin login -u {{ onepasswordRead "op://dotfiles/atuin key/username" }} -p {{ onepasswordRead "op://dotfiles/atuin key/password" }} -k {{ onepasswordRead "op://dotfiles/atuin key/key" }}
    print_success "Logged in to atuin."
else
    print_error "Failed to login to atuin."
end

{{ end }}