{{ if and (eq .osid "linux-ubuntu") .personal -}}
{{ template "bash.top" . }}

# Check if 'op' command is not available
if ! command -v op &> /dev/null; then
    ARCH="amd64"
    OP_VERSION="v$(curl https://app-updates.agilebits.com/check/1/0/CLI2/en/2.0.0/N -s | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+')"

    # Download and install 1Password CLI
    curl -sSfo op.zip \
        https://cache.agilebits.com/dist/1P/op2/pkg/"$OP_VERSION"/op_linux_"$ARCH"_"$OP_VERSION".zip \
        && unzip -od /usr/local/bin/ op.zip \
        && rm op.zip

    # Check if the installation was successful
    if [ $? -eq 0 ]; then
        print_success "1Password CLI installed."
    else
        print_error "Failed to install 1Password CLI."
        exit 1
    fi
else
    print_success "1Password CLI is already installed."
fi

{{ end -}}