{{- if (eq .chezmoi.os "linux") -}}
{{ template "bash.top" . }}


# Check if Homebrew is installed, and if not, install it
if ! command -v brew &> /dev/null; then
    print_info "Installing Homebrew..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" > /dev/null 2>&1

    if [ $? -eq 0 ]; then
        (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> {{ .chezmoi.homeDir }}/.bashrc
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"  # Add brew to the PATH for the current session
        print_success "Homebrew has been installed."
    else
        print_error "Failed to install Homebrew."
        exit 1
    fi
else
    print_success "Homebrew is already installed."
fi

# Define packages to install
packages=(
  fish
  starship
  gh
  thefuck
  direnv
  go-task/tap/go-task
  zoxide
  bat
  lsd
  viddy
  jq
  hidetatz/tap/kubecolor
  nano
  tldr
  chezmoi
  fisher
  age
  unzip
)

# Update Homebrew packages
print_info "Initiating Homebrew update..."
brew update

# Install packages
print_info "Installing packages..."
for package in "${packages[@]}"; do
    brew install "$package"
done

{{ end -}}
