{{- if (eq .chezmoi.os "linux") -}}
{{ template "bash.top" . }}


# Check if Homebrew is installed, and if not, install it
if ! command -v brew &> /dev/null; then
    NONINTERACTIVE=1
    print_info "Installing Homebrew..."
    (curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash > /dev/null) 2> >(while read line; do
        print_error "$line"
    done)
    (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> {{ .chezmoi.homeDir }}/.bashrc
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
    print_success "Homebrew is already installed."
fi

# Define packages to install
packages=(
  fish
  starship
  gh
  thefuck
  direnv
  go-task/tap/go-task
  zoxide
  bat
  lsd
  viddy
  jq
  hidetatz/tap/kubecolor
  nano
  tldr
  chezmoi
  fisher
  age
  unzip
)

# Update Homebrew packages
print_info "Initiating Homebrew update..."
brew update

# Install packages
print_info "Installing packages..."
for package in "${packages[@]}"; do
    brew install "$package"
done

{{ end -}}
