{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail
set -x  # Enable debugging

# Check if we're on an apt-capable system
if command -v apt-get &> /dev/null; then
    echo "\[\e[32m\]✔ \[\e[0m\] System is apt-capable."
else
    echo "\[\e[31m\]✘ \[\e[0m\] This system does not use apt package manager."
    exit 1
fi

# Check if build-essential is installed
if dpkg -l | grep -q 'build-essential'; then
    echo "\[\e[32m\]✔ \[\e[0m\] Build-essential is already installed."
else
    echo "\[\e[33m\]⚠ \[\e[0m\] Build-essential is not installed. Installing..."
    sudo apt-get update
    sudo apt-get -y install build-essential
    if [ $? -eq 0 ]; then
        echo "\[\e[32m\]✔ \[\e[0m\] Build-essential has been successfully installed."
    else
        echo "\[\e[31m\]✘ \[\e[0m\] Failed to install build-essential."
        exit 1
    fi
fi

{{ end -}}
