{{- if (not .ephemeral) -}}
#!/bin/bash

set -eufo pipefail
set -x  # Enable debugging

if ! grep -qxF "$(which fish)" /etc/shells; then
  echo $(which fish) | sudo tee -a /etc/shells
fi

chsh -s $(which fish)
{{ end -}}  