#!{{ lookPath "bash" }}

# Install nano syntax highlighting
if [ ! -d ~/.nano ]; then
    echo "\[\e[33m\]⚠ \[\e[0m\] Setting up nano syntax highlighting"
    git clone https://github.com/scopatz/nanorc.git ~/.nano
fi
