{{- if (not .ephemeral) -}}
#!{{ lookPath "bash" }}

{{ if .debug }}
set -eufo pipefail
set -x  # Enable debugging
{{ end }}

if ! grep -qxF "/home/linuxbrew/.linuxbrew/bin/fish" /etc/shells; then
  echo "/home/linuxbrew/.linuxbrew/bin/fish" | sudo tee -a /etc/shells
fi

sudo chsh "$(id -un)" --shell "/home/linuxbrew/.linuxbrew/bin/fish"
{{ end -}}  