LogLevel ERROR

Host *
  AddKeysToAgent yes
{{- if .personal }}
  IdentityFile ~/.ssh/id_ed25519
  User stianrs
{{- end }}

Host 192.168.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 172.16.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 10.*.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
{{ if .personal }}
{{-   onepasswordRead "op://dotfiles/ssh config/notesPlain" }}
{{- end }}
