{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $debug := false -}}{{/* true if debug mode should be enabled */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, Coder remote, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") (env "CODER") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if (and (not $ephemeral ) (not $headless)) -}}
    {{- $isPersonal := promptBool "Is this a personal machine?" true -}}
    {{- if $isPersonal -}}
        {{-   $personal = true -}}
        {{-   $ageKeyPass := promptString "Please enter your Age key password" true -}}
    {{- end -}}
{{- end }}

{{- $name := "Stian Rossavik Sporaland" -}}
{{- $email := "stian.sporaland@pm.me" -}}
{{- $signingKey := "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPWtc1Kd6hl5ErQk89gs7VP3NvT6kZ8M1u4pckcxTLqd" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    signingKey = {{ $signingKey | quote }}
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    personal = {{ $personal }}
    debug = {{ $debug }}    
    hostname = {{ .chezmoi.hostname | quote }}
    osid = {{ $osID | quote }}

{{ if $personal -}}
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1062zlekr62v6vnwkeh6gw9ggwq0dhlat2v5mfsr6s0tj6f36fczsdyf5f8"

[onepassword]
    prompt = false
{{- end -}}